<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<div class="footer" th:fragment="footer" style="margin-bottom: 50px" >
    <div class="container" >

        <div class="row" style="cursor: default" >
            <div class="col text-center" >
                <img th:src="@{/images/korea.png}" th:width="42px" th:height="32px" />
                Made By
                &#x1F194;shirohoo(Khan)
            </div >
        </div >

        <hr />

        <div class="row text-center" >
            <div class="col text-center" >
                <span class="col-md" >
                    <a class="footer-pop" th:href="@{https://github.com/shirohoo}" target="_blank" >
                        <img th:src="@{/images/github.jpg}" th:width="52px" th:height="32px" />
                    </a >
                </span >

                <span class="col-md" >
                    <a class="footer-pop" th:href="@{https://hanga-evernote.com/}" target="_blank" >
                        <img th:src="@{/images/blog.png}" th:width="42px" th:height="32px" />
                    </a >
                </span >

                <span class="col-md" >
                    <a class="footer-pop" href="mailto:shirohoo4102@gmail.com" target="_blank" >
                        <img th:src="@{/images/email.png}" th:width="42px" th:height="32px" />
                    </a >
                </span >
            </div >
        </div >

    </div >
</div >