<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<div class="footer" th:fragment="footer" >
    <div class="container" >
        <div class="row mb-5" >
            <div class="col-md" >
                <div class="text-right" >
                    <h4 style="display: inline" >
                        <img th:src="@{/images/korea.png}" th:width="42px" th:height="32px" />
                        Made By
                    </h4 >
                    <p style="display: inline" >&#x1F194;shirohoo(Khan) </p >
                </div >
            </div >
            <div class="col-md" >
                <span class="col-md" >
                    <a href="https://github.com/shirohoo" target="_blank" >
                        <img th:src="@{/images/github.jpg}" th:width="52px" th:height="32px" />
                    </a >
                </span >
                <span class="col-md" >
                    <a href="https://hanga-evernote.com/" target="_blank" >
                        <img th:src="@{/images/blog.png}" th:width="42px" th:height="32px" />
                    </a >
                </span >
                <span class="col-md" >
                    <a href="mailto:shirohoo4102@gmail.com" target="_blank" >
                        <img th:src="@{/images/email.png}" th:width="42px" th:height="32px" />
                    </a >
                </span >
            </div >
        </div >
    </div >
</div >
