<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" >
<head th:fragment="head" >
    <title >IT 기술 블로그</title >
    <link rel="shortcut icon" href="/images/favicon.ico" >

    <!-- Required meta tags -->
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1" >

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >

    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" ></script >

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="css/style.css" >
</head >