<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<div class="header" th:fragment="header" >
    <br />
    <div class="header-decorate" >
        <div class="title" >
            <a href="/" >📚 IT 기술 블로그</a >
        </div >
        <div class="subtitle" style="cursor: default" >
            👍 Only I can change my life.
            <br />
            No one can do it for me.
        </div >
    </div >
    <br />
    <br />
    <div class="DAU" >
        👨‍👨‍👧‍👦오늘 방문자 :
        <span class="SHOW-DAU" ></span >
    </div >
    <br />
    <div class="allVisitors" >
        😎누적 방문자 :
        <span class="SHOW-allVisitors" ></span >
    </div >
    <hr />
</div >