<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" >
<head th:fragment="head" >
    <title >IT 기술 블로그</title >
    <link rel="shortcut icon" href="/images/favicon.ico" >

    <!-- Required meta tags -->
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1" >

    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >

    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js" ></script >

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" crossorigin="anonymous" ></script >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous" ></script >

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="css/style.css" >
</head >