<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" >

<!-- head -->
<head th:replace="fragments/head :: head" />
<!-- /head -->

<!-- body -->
<body >

<!-- container -->
<div id="app" class="container" >

    <!-- header -->
    <div th:replace="fragments/header :: header" />
    <!-- /header -->

    <!-- search area -->
    <div >
        <form id="searchForm" >
            <div class="form-group" >
                <div class="row" >
                    <div class="col-1" ></div >
                    <div class="col-7" >
                        <span class="badge badge-danger text-wrap" style="width: 6rem;" >회사</span >
                        <select class="form-control" v-model="search.company" @change="findContents();" style="cursor: pointer" >
                            <option value="" >- 전체 -</option >
                            <option value="우아한형제들" >우아한형제들</option >
                            <option value="데일리호텔" >데일리호텔</option >
                            <option value="카카오" >카카오</option >
                            <option value="야놀자" >야놀자</option >
                            <option value="라인" >라인</option >
                            <option value="토스" >토스</option >
                            <option value="당근마켓" >당근마켓</option >
                            <option value="마켓컬리" >마켓컬리</option >
                            <option value="왓챠" >왓챠</option >
                        </select >
                    </div >
                    <div class="col-3" >
                        <button class="btn btn-outline-info" type="button" id="initialize" @click="resetSearchForm();" >초기화</button >
                    </div >
                    <div class="col-1" ></div >
                </div >
                <br >
                <div class="row" >
                    <div class="col-1" ></div >
                    <div class="col-7" >
                        <span class="badge badge-info text-wrap" style="width: 6rem;" >제목</span >
                        <input class="form-control" type="text" v-model="search.title"
                               placeholder="검색할 제목을 입력하세요" @keyup.enter="findContents();" />
                    </div >
                    <div class="col-3" >
                        <button class="btn btn-outline-info" type="button" id="search" @click="findContents();" >검색</button >
                    </div >
                    <div class="col-1" ></div >
                </div >
            </div >
        </form >
    </div >
    <!-- /search area -->

    <hr />

    <!-- total post & size area -->
    <div class="form-inline" >
        <h4 id="totalResultCount" >전체 글 : {{pager.totalElements}}개</h4 >
        <span style="margin-left: auto;" >
                <select v-model="search.size" class="custom-select" @change="findContents();" >
                    <option value="10" >10개</option >
                    <option value="30" >30개</option >
                    <option value="50" >50개</option >
                    <option value="100" >100개</option >
                    <option value="200" >200개</option >
                </select >
        </span >
    </div >
    <!-- /total post & size area -->

    <br />

    <!-- board area -->
    <div >
        <table class="table" id="table" >
            <thead >
            <tr class="text-center" >
                <th style="width:20%" >회사</th >
                <th style="width:50%" >제목</th >
                <th style="width:20%" >수집일</th >
            </tr >
            </thead >

            <tbody id="posts" >
            <tr v-for="content in contents" >
                <td style="text-align:center" >
                    <img :src="content.imgPath" height="48px" width="96px" :title="content.company" />
                </td >
                <td style="text-align:left; font-weight: bold; color: skyblue;" >
                    <span :class="{'badge badge-danger' : isBetweenDay(content.regDate)}" v-show="isBetweenDay(content.regDate)" >Today</span >
                    <a :href="content.link" target="blank" >{{content.title}}</a >
                </td >
                <td style="text-align:center" >{{content.regDate}}</td >
            </tr >
            </tbody >
        </table >
    </div >
    <!-- /board area -->

    <br />

    <!-- pagination area -->
    <div >
        <paging-component :pager="pager" :find-function="findContents" ></paging-component >
    </div >
    <!-- /pagination area -->

    <br /><br />

    <!-- footer area -->
    <div th:replace="fragments/footer :: footer" />
    <!-- /footer area -->

</div >
<!-- /container -->

</body >
<!-- /body -->

<!-- Vue.js paging component-->
<script th:src="@{/js/paging.js}" ></script >
<!-- /Vue.js paging component-->

<!-- Vue.js -->
<script >
    'use strict';
    const app = new Vue({
                            el        : '#app',
                            data      : {
                                search          : {
                                    page   : 0,
                                    size   : 10,
                                    company: '',
                                    title  : ''
                                },
                                contents        : {},
                                pager           : {},
                                visitorsOfReduce: 0,
                                visitorsOfDay   : 0
                            },
                            components: {
                                'paging-component': pagingComponent,
                            },
                            mounted   : function(){
                                this.$nextTick(function(){
                                    this.findContents();
                                });
                            },
                            computed  : {
                                numberFormat(){
                                    return (num) => {
                                        let regexp = /\B(?=(\d{3})+(?!\d))/g;
                                        return num.toString().replace(regexp, ',');
                                    };
                                },
                            },
                            methods   : {
                                findContents(page){
                                    if(page !== undefined) this.search.page = page;
                                    let queryString = Object.keys(this.search)
                                                            .map(k => encodeURIComponent(k) + '=' + encodeURIComponent(this.search[k]))
                                                            .join('&');
                                    let uri = '/boards?' + queryString;
                                    fetch(uri).then(res => {if(res.status === 200) return res.json()})
                                              .then(data => {
                                                  this.contents = data.pages.content;
                                                  this.visitorsOfReduce = data.visitorsOfReduce;
                                                  this.visitorsOfDay = data.visitorsOfDay;
                                                  this.pager = setPager(data.pages);

                                                  // 페이징 버그 방지용 로직
                                                  if(this.search.page === 0 && this.pager.totalPages === 0) return;
                                                  if(this.search.page >= this.pager.totalPages){
                                                      this.search.page = 0;
                                                      this.findContents();
                                                  }
                                              })
                                              .catch(() => alert('400, Bad Request'));

                                },
                                resetSearchForm(){
                                    this.search.page = 0;
                                    this.search.size = 10;
                                    this.search.company = '';
                                    this.search.title = '';
                                    this.findContents();
                                },
                                isBetweenDay(regDate){
                                    let regDateArray = String(regDate).split('-');
                                    let date = new Date(regDateArray[0], regDateArray[1] - 1, regDateArray[2])

                                    let nowDate = new Date();
                                    let betweenDay = Math.floor((nowDate.getTime() - date.getTime()) / 1000 / 60 / 60 / 24);
                                    return betweenDay === 0;
                                },
                            },
                        });
</script >
<!-- /Vue.js -->
</html >