<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="fragments/head :: head" />
<body >
<!-- container -->
<div class="container" >
    <div th:replace="fragments/header :: header" />
    <div >
        <div >
            <form id="searchForm" >
                <div class="form-group" >
                    <div class="row" >
                        <div class="col-1" ></div >
                        <div class="col-7" id="companyBox" >
                            <span class="badge badge-danger text-wrap" style="width: 6rem;" >회사</span >
                            <input type="hidden" id="company" name="company" value="" />
                            <select class="form-control" id="selectCompany" onchange="selectedCompany(this);" style="cursor: pointer" >
                                <option value="" >- 전체 -</option >
                                <option value="우아한형제들" >우아한형제들</option >
                                <option value="데일리호텔" >데일리호텔</option >
                                <option value="카카오" >카카오</option >
                                <option value="야놀자" >야놀자</option >
                                <option value="라인" >라인</option >
                                <option value="토스" >토스</option >
                                <option value="당근마켓" >당근마켓</option >
                                <option value="마켓컬리" >마켓컬리</option >
                                <option value="왓챠" >왓챠</option >
                            </select >
                        </div >
                        <div class="col-3" >
                            <button class="btn btn-outline-info" type="button" id="initialize" onclick="resetSearchForm();" >초기화</button >
                        </div >
                        <div class="col-1" ></div >
                    </div >
                    <br >
                    <div class="row" >
                        <div class="col-1" ></div >
                        <div class="col-7" >
                            <span class="badge badge-info text-wrap" style="width: 6rem;" >제목</span >
                            <input hidden="hidden" />
                            <input class="form-control" type="text" id="title" name="title" placeholder="검색할 제목을 입력하세요" onkeyup="enterKeyUp();" />
                        </div >
                        <div class="col-3" >
                            <button class="btn btn-outline-info" type="button" id="search" onclick="search();" >검색</button >
                        </div >
                        <div class="col-1" ></div >
                    </div >
                </div >
            </form >
        </div >
        <hr />
        <div class="form-inline" >
            <h4 id="totalResultCount" >TOTAL : </h4 >
            <span style="margin-left: auto;" >
                <input type="hidden" id="currentPageNum" />
                <select class="custom-select" id="renderingCount" onchange="search();" >
                    <option value="10" >10개</option >
                    <option value="30" >30개</option >
                    <option value="50" >50개</option >
                    <option value="100" >100개</option >
                    <option value="200" >200개</option >
                </select >
            </span >
        </div >
        <br />
        <div >
            <table class="table" id="table" >
                <thead >
                <tr class="text-center" >
                    <th style="width:20%" >회사</th >
                    <th style="width:50%" >제목</th >
                    <th style="width:20%" >수집일</th >
                </tr >
                </thead >
                <tbody id="boards" >
                </tbody >
            </table >
        </div >
        <br />
        <div >
            <ul class="pagination pagination-sm justify-content-center" id="pagingArea" ></ul >
        </div >
        <br /><br />
        <div th:replace="fragments/footer :: footer" />
        <!-- container -->
    </div >
</div >
</body >
<script th:src="@{/js/boardScripts.js}" crossorigin="anonymous" ></script >
</html >