<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" >

<!-- head -->
<head th:replace="fragments/head :: head" />
<!-- /head -->

<!-- body -->
<body >

<!-- container -->
<div id="app" class="container" >

    <!-- header -->
    <div th:replace="fragments/header :: header" />
    <!-- /header -->

    <!-- search area -->
    <div >
        <form id="searchForm" >
            <div class="form-group" >
                <div class="row" >
                    <div class="col-1" ></div >
                    <div class="col-7" id="companyBox" >
                        <span class="badge badge-danger text-wrap" style="width: 6rem;" >영어</span >
                        <input class="form-control" type="text" id="enWord" v-model="search.enWord" name="enWord"
                               placeholder="검색할 영어를 입력하세요" @keyup.enter="findContents();" />
                    </div >
                    <div class="col-3" >
                        <button class="btn btn-outline-info" type="button" id="initialize" @click="resetSearchForm();" >초기화</button >
                    </div >
                    <div class="col-1" ></div >
                </div >
                <br >
                <div class="row" >
                    <div class="col-1" ></div >
                    <div class="col-7" >
                        <span class="badge badge-info text-wrap" style="width: 6rem;" >한글</span >
                        <input class="form-control" type="text" id="krWord" v-model="search.krWord" name="krWord"
                               placeholder="검색할 한글을 입력하세요" @keyup.enter="findContents();" />
                    </div >
                    <div class="col-3" >
                        <button class="btn btn-outline-info" type="button" id="search" @click="findContents();" >검색</button >
                    </div >
                    <div class="col-1" ></div >
                </div >
            </div >
        </form >
    </div >
    <!-- /search area -->

    <hr />

    <!-- total post & size area -->
    <div class="form-inline" >
        <h4 id="totalResultCount" >전체 단어 : {{pager.totalElements}}개</h4 >
        <span style="margin-left: auto;" >
                <input type="hidden" id="currentPageNum" />
                <select v-model="search.size" class="custom-select" id="renderingCount" @change="findContents();" >
                    <option value="10" >10개</option >
                    <option value="30" >30개</option >
                    <option value="50" >50개</option >
                    <option value="100" >100개</option >
                    <option value="200" >200개</option >
                </select >
        </span >
    </div >
    <!-- /total post & size area -->

    <br />

    <!-- board area -->
    <div >
        <table class="table" id="table" >
            <thead >
            <tr class="text-center" >
                <th style="width:25%" >영어</th >
                <th style="width:25%" >한글</th >
                <th style="width:25%" >사진</th >
                <th style="width:25%" >구글</th >
            </tr >
            </thead >

            <tbody id="posts" >
            <tr v-for="content in contents" >
                <td style="text-align:center; font-weight: bold; color: purple" >
                    {{content.enWord}}
                </td >
                <td style="text-align:center; font-weight: bold; color: navy" >
                    {{content.krWord}}
                </td >
                <td style="text-align:center; font-weight: bold; color: skyblue;" >
                    <a :href="'https://www.google.com/search?q=' + content.enWord + '&newwindow=1&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjwgc7Lj83wAhXHFogKHYUABiYQ_AUoAXoECAEQAw&biw=1920&bih=937'" target="blank" > 👓</a >
                </td >
                <td style="text-align:center; font-weight: bold; color: skyblue;" >
                    <a :href="'https://www.google.com/search?q=' + content.enWord + '&rlz=1C1GCEA_koKR939KR939&oq=taglib&aqs=chrome..69i57j0l6j69i60.1267j0j4&sourceid=chrome&ie=UTF-8'" target="blank" > 📚</a >
                </td >
            </tr >
            </tbody >
        </table >
    </div >
    <!-- /board area -->

    <br />

    <!-- pagination area -->
    <div >
        <paging-component :pager="pager" :find-function="findContents" ></paging-component >
    </div >
    <!-- /pagination area -->

    <br /><br />

    <!-- footer area -->
    <div th:replace="fragments/footer :: footer" />
    <!-- /footer area -->

</div >
<!-- /container -->

</body >
<!-- /body -->

<!-- Vue.js paging component-->
<script th:src="@{/js/paging.js}" ></script >
<!-- /Vue.js paging component-->

<!-- Vue.js -->
<script >
    'use strict';
    const app = new Vue({
                            el        : '#app',
                            data      : {
                                search          : {
                                    page  : 0,
                                    size  : 10,
                                    enWord: '',
                                    krWord: ''
                                },
                                contents        : {},
                                pager           : {},
                                visitorsOfReduce: 0,
                                visitorsOfDay   : 0
                            },
                            components: {
                                'paging-component': pagingComponent,
                            },
                            mounted   : function(){
                                this.$nextTick(function(){
                                    this.findContents();
                                });
                            },
                            computed  : {
                                numberFormat(){
                                    return (num) => {
                                        let regexp = /\B(?=(\d{3})+(?!\d))/g;
                                        return num.toString().replace(regexp, ',');
                                    };
                                },
                            },
                            methods   : {
                                findContents: function(page){
                                    if(page !== undefined) this.search.page = page;
                                    let queryString = Object.keys(this.search)
                                                            .map(k => encodeURIComponent(k) + '=' + encodeURIComponent(this.search[k]))
                                                            .join('&');
                                    let uri = '/dictionaries?' + queryString;
                                    console.log(uri);
                                    fetch(uri).then(res => {if(res.status === 200) return res.json()})
                                              .then(data => {
                                                  this.contents = data.pages.content;
                                                  this.visitorsOfReduce = data.visitorsOfReduce;
                                                  this.visitorsOfDay = data.visitorsOfDay;
                                                  this.pager = setPager(data.pages);
                                              })
                                              .catch(() => alert('400, Bad Request'));
                                },
                                resetSearchForm(){
                                    this.search.page = 0;
                                    this.search.size = 10;
                                    this.search.enWord = '';
                                    this.search.krWord = '';
                                    this.findContents();
                                },
                            },
                        });
</script >
<!-- /Vue.js -->
</html >